# More Data Preprocessing (with Pandas)

Pandas is a very useful data analytics package within Python.

Let's start with some random data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df

        one       two     three
a -0.512368 -0.080321  0.330768
c -1.252834 -0.039407  1.609053
e  0.335717  1.187845  0.331253
f  0.208425 -0.329606  0.304200
h -0.097777 -2.555714 -0.592470

We know with Pandas we can mix & match data types, so let us add two more columns, named 'four' and 'five':

In [3]:
df['four'] = 'bar'
df['five'] = df['one'] > 0
df

        one       two     three four   five
a -0.512368 -0.080321  0.330768  bar  False
c -1.252834 -0.039407  1.609053  bar  False
e  0.335717  1.187845  0.331253  bar   True
f  0.208425 -0.329606  0.304200  bar   True
h -0.097777 -2.555714 -0.592470  bar  False

Adding new rows is also simple. Below we include three extra empty rows:

In [4]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a -0.512368 -0.080321  0.330768  bar  False
b       NaN       NaN       NaN  NaN    NaN
c -1.252834 -0.039407  1.609053  bar  False
d       NaN       NaN       NaN  NaN    NaN
e  0.335717  1.187845  0.331253  bar   True
f  0.208425 -0.329606  0.304200  bar   True
g       NaN       NaN       NaN  NaN    NaN
h -0.097777 -2.555714 -0.592470  bar  False

# Your Turn Here

Do you still remember how to index a row/column?

In [5]:
#### index row 'c' below
df2.loc['c']

one       -1.25283
two     -0.0394072
three      1.60905
four           bar
five         False
Name: c, dtype: object

In [6]:
#### index column 'two' below
df2['two']

a   -0.080321
b         NaN
c   -0.039407
d         NaN
e    1.187845
f   -0.329606
g         NaN
h   -2.555714
Name: two, dtype: float64

pandas has two functions isnull() and notnull() that return boolean objects when called.

In [7]:
pd.isnull(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [8]:
pd.notnull(df2['one'])

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

Missing values propagate naturally through arithmetic operations between pandas objects.

In [9]:
a = df[['one','two']]
a['one']['a':'e'] = float('nan')
a

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/series.py:935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._set_with(key, value)
/opt/tljh/user/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

        one       two
a       NaN -0.080321
c       NaN -0.039407
e       NaN  1.187845
f  0.208425 -0.329606
h -0.097777 -2.555714

In [10]:
b = df[['one','two','three']]
b

        one       two     three
a -0.512368 -0.080321  0.330768
c -1.252834 -0.039407  1.609053
e  0.335717  1.187845  0.331253
f  0.208425 -0.329606  0.304200
h -0.097777 -2.555714 -0.592470

In [11]:
a + b

        one  three       two
a       NaN    NaN -0.160643
c       NaN    NaN -0.078814
e       NaN    NaN  2.375689
f  0.416850    NaN -0.659212
h -0.195555    NaN -5.111427

In [12]:
b + a

        one  three       two
a       NaN    NaN -0.160643
c       NaN    NaN -0.078814
e       NaN    NaN  2.375689
f  0.416850    NaN -0.659212
h -0.195555    NaN -5.111427

# How to deal with Missing Values

## Deleting Missing Values

The simplest method is always dropping all missing values - but it is highly **discouraged!!!**

In [ ]:
a['one'].dropna()

By default, dropna() will drop any row containing **NaN** values, but you can change that by using the *axis=* and *thresh=* arguments.

**NOTE**: Dropping rows or columns have different uses.

In [ ]:
#### This statement drop any column with NaN values
a.dropna(axis=1)

In [ ]:
#### thresh determines how many non-NaN values a column/row should have without being dropped
c = a + b
c.dropna(axis=1, thresh=2)

You can also use the *how=* argument to determine how do you want to remove the NaN values.

In [ ]:
#### By default, dropna() drops column/row with any NaN values
#### how = 'all' changes that to dropping column/row with all NaN values
c.dropna(axis=1, how='all')

You can refer to the [pandas.dropna() docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html) for more information.

## Imputing Missing Values

Imputing means filling missing values - you can do that when the missing and non-missing values are in some type of relationship.

In [ ]:
my_series = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
my_series

In [ ]:
#### you can fill missing values with a specific value (0)
my_series.fillna(0)

Alternatively, we can specify a forward-fill to propagate the previous value forward:

In [ ]:
# forward-fill
my_series.fillna(method='ffill')

Or we can specify a back-fill to propagate the next values backward:

In [ ]:
my_series.fillna(method='bfill')

## Your Turn Here
Aforementioned method can be applied to dataframes.

In [ ]:
#### Let us generate a random dataframe
rand_df = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['one', 'two', 'three'])
rand_df = rand_df.mask(np.random.random(rand_df.shape) < .3)
rand_df

Your tasks are as follows:

- fill missing values in column **one** with value 1;
- fill missing values in column **two** with forward-filling;
- fill missing values in column **three** with backward-filling.

In [ ]:
#### insert your code here

A useful approach for imputing your missing data is to use mean/mode to replace missing data - the reason behind this logic is that if we are going to *guess* the values of the missing data, the highest chance would be guessing it to be the mean/mode if the data follows **normal** distribution.

In [ ]:
#### let us generate another DF
my_df = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['A', 'B', 'C'])
my_df = my_df.mask(np.random.random(my_df.shape) < .3)
my_df

In [ ]:
#### Let us check if there is any missing value in the df
my_df.isnull().values.any()

In [ ]:
#### Then we are getting the mean of the DF
#### Note that since we only 
my_df.mean()

In [ ]:
df_filled = my_df.fillna(my_df.mean())
df_filled

In [ ]:
#### Now let us check again if there is any missing values
df_filled.isnull().values.any()

More info regarding how to handle missing data can be found [here](https://machinelearningmastery.com/handle-missing-data-python/).

# Other Tasks in Data Preprocessing

- Handling categorical data (coding)
- Handling imbalanced data
- feature engineering

These topics will be covered in later part of this class.